
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}


.Main-container {
    width: 100%;
    height: 5650px;
    margin-top: 20px;
}


@media screen and (min-width: 600px) {

  .Main-container{
height: fit-content;
  }
}

.container-11 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width:100%;
    background: #000;
   margin-bottom: 20px; 
  }
  
  .container-11 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }



  @media screen and (min-width: 740px) {
    .container-11 {
      width: 50%;
      padding-bottom: 35%;
      border: 8px solid rgb(106, 105, 118);
     
    
    }

    .container-1 {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
    }


    .container1 {

        display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
    }

    .heading-container h2 {
      font-size: 40px;
    }

    .para-1 h2 {
      font-size: 32px;
    }

}




.video-1 {
    border-radius: 10px;
    width: 330px;
    height: 214px;
    margin-top: 20px;
    margin-left: 8px;
}


.heading-container {
    width: 100%;
    font-size: 18px;
    display: flex;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.heading-container span {
 color: #FF671F;
}

.heading-container img {
    width :20%;
    height: 20%;
    margin-top: 15px;
  
}

.para-4 {
    text-align: center;
}

.curve {
    margin-top: 20px;
    height: 30px;
    margin-left: 10px;
}

.curve img {
    width: 95%;
}

.para-1 {
    font-size: 15px;
    margin-top: 8px;
    margin-left: 18px;
}

.para-11  span{
    color: #EF6F28;
}

.para-11 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
}

.para-11 p {
    font-size: 18px;
}

@media screen and (min-width: 740px) {
  .para-11 p {
 font-size: 28px;
  
  }
}

.info {
    width: 100%;
    height: 350px;
    margin-top: 20px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.info-1 {
    display: flex;
    width: 100%;
    height: 18%;
}

.info-1 p {
    height: 50px;
    padding-top: 8px;
    font-size: 16px;
    margin-top: 10px;
    
}

@media screen and (min-width: 740px) {
    .info-1  {
    padding-left: 100px;
    }
  }

@media screen and (min-width: 740px) {
    .info-1 p {
      font-size: 25px;
    }
  }

.tick-1 {
    width:60px;
    height: 60px;
    margin-top: 10px;
}

.text{
    color: #EF6F28;
}

.heading {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 20px;
}

.heading h2 {
    font-size: 26px;
}

@media screen and (min-width: 740px) {
    .heading h2 {
      font-size: 36px;
    }
  }

.heading h4{
  font-size: 24px;
  color: #FF671F;
}

@media screen and (min-width: 740px) {
    .heading h4 {
      font-size: 36px;
    }
  }


  .container-12 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width:100%;
    background: #000;
   margin-bottom: 20px; 
  }
  
  .container-12 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 740px) {
    .container-12 {
      width: 80%;
      margin-left: 50px;
      padding-bottom: 26.125%;   
    }

    .box-container {
      display: flex;
      gap: 20px;
      justify-content:space-around;
      margin-top: 20px;

    }
  }


  .detail-1 {
    width: 100%;
    display: flex;
    gap: 8px;
  }


  .detail-2 h2 {
    font-size: 18px;
    margin-top: 10px;
    
  }

.detail-2 p {
  font-size: 15px;
  margin-top: 5px;
}


  @media screen and (min-width: 740px) {

.detail-container {   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-1 {
    display: flex;
    gap: 8px;
    width: 100%;
}


.img-1 {
   margin-top: 5px;
    width:50px;
    height: 50px;
}

.details-2 {
    margin-left: 10px;
}

.detail-2 h2{
    font-size: 26px; 
    margin-top: 10px;
}


.detail-2 p {
  width: 85%;
    font-size: 20px;
    margin-top: 10px;
    color: #A6A6A6; 
}
  }

    .card-container {
      margin: 0 auto;
      padding-top: 20px;
    }

    .card-1 {
      display: flex;
      gap: 10px;
      background: white;
      border-radius: 16px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
      padding: 10px 15px;
      font-size: 14px;
      width: 50%;
      margin-bottom: 10px;
      text-align: center;
    }

    .earn-2 {
      display: flex;
      align-items: center;
    }


    .card-1 strong {
      display: block;
      color: #666;
      font-size: 13px;
      margin-bottom: 4px;
    }

    .card-1 span {
      font-weight: bold;
      font-size: 18px;
    }
 
    .img-2 {
      width: 100%;  
      max-width: 90%; 
      margin: 0 auto; 
      object-fit: cover;
  }
  
  .img-2 img {
      width: 100%; 
      height: auto; 
      object-fit: cover;
  } 


    .card-2 {
      display: flex;
      gap: 10px;
      background: white;
      border-radius: 16px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
      padding: 16px 20px;
      font-size: 14px;
      max-width: 280px;
      margin-top: 12px;
      margin-left: auto; 
      text-align: center;
    }

    .card-2 strong {
      font-size: 15px;
      display: block;
      margin-bottom: 4px;
    }

    .card-2 p {
      font-size: 13px;
      margin: 0;
      color: #666;
     
    }
    
    @media screen and (min-width: 740px) {

      .img-2 {   
          width: 100%;
      }

      .card-container{
        width: 50%;
      }
  
      .card-1{
        max-width: 40%;
      }
    }

    @media (max-width: 600px) {
      .card-1,
      .card-2 {
        max-width: 55%;
        padding: 5px 8px;
        font-size: 13px;
      }

      .card-1 span {
        font-size: 16px;
      }

      .card-2 strong {
        font-size: 12px;
      }

      .card-2 p {
        font-size: 12px;
      }
    
    }
 

.heading-1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
}

@media screen and (min-width: 740px) {
    .heading-1{
       font-size: 40px;
       margin-top: 30px;
    }
}

.inform {
    background-color: #046617;
    border-radius: 10px;
    height: 462px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    
}

@media screen and (min-width: 740px) {
    .inform{
     width: 50%;
     border-radius: 20px;
    }

    .inform1 {
      display: flex;
      justify-content: center;
    }
}

.inform-image {
    width: 68%;
    height: 52%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.inform-image1 {
  background-color: white;
  border-radius: 50%;
}

.star-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
}

.para-3 {
    margin-top: 10px;
}

.para-3 p {
    font-size: 17px;
}

.inform-1 h2,.inform-1 h3,.inform-1 p {
    text-align: center;
    color: #FFFFFF;
}

.Sponser-container {
    width: 100%;
    height: 140px;
    margin-top: 40px;
    
}

.Sponser-container h2 {
    text-align: center;
    font-size: 20px;
    color: #046617;
}

.sponser-1 {
    display: flex;
    margin-top: 20px;
    overflow-x: scroll;
}

.sponser-1::-webkit-scrollbar {
    display: none;
    white-space: nowrap;
  }

.sponser-11{
    width: 50%;
    text-align: center;
    padding-top: 20px;
}

@media screen and (min-width: 740px) {

  .Sponser-container h2{
    font-size: 50px;
    text-align: center;
  }
}

.image-22 {
    object-fit: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .image-2 {
    padding-top: 20px;
    display: flex;
    width: 75%;
     justify-content: center;
     padding-bottom: 20px;
  }


  @media screen and (min-width: 740px) {

    .image-22{
      width: 40%;
    
    }

    .info-2 h2 {
      font-size:32px;
    
    }
    
  }
  .info-2 {
    width: 100%;
    height: 78px;
    margin-top: 30px;
    text-align: center;
  }

  .info-2 h2 {
    font-size: 20px;
    color: #191A15;
   
  }

  .info-21{
     display: flex;
     gap: 5px;
     justify-content: center;
     
  }

  .info-21 h2 {
    font-size: 20px;
    color: #191A15;
    margin-top: 10px;
    margin-bottom: 2px;
  }

  .experience-container {
     width: 100%;
     height: 410px;
     margin-top:50px;
     padding-right: 10px;
     background-color: #F0F6F6;
  }

  .experience-1 {
    display: flex;
  }

  .experience-11 {
    width: 50%;
    height: 190px;
   margin-top: 5px;
   margin-left: 12px;
    border: 2px solid #FFFFFF;
    border-bottom-right-radius: 30px;
    background-color: #FFFFFF;
    border-top-left-radius: 30px;
  }


  .experience1 {
    margin-left: 20px;
    margin-top: 20px;
  }

  .experience-11 p {
    margin-left: 20px;
    margin-top: 20px;
    color: #3B3663;
    font-size: 18px;
  }

  @media screen and (min-width: 740px) {
    .experience-11 p{
    font-size: 24px;
    }

    .experience1 {
     width: 10%;
     transform: scale(1.2);
     
    }
    .experience-container{
      width: 80%;
      display: flex;
      flex-direction: column;
    }

  
}


  .heading-2 {
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
  }

  .heading-2 span {
    color: #ED6F29;
  }

  @media screen and (min-width: 740px) {
    .heading-2{
    font-size: 32px;
    
    }
}

  .detail-3 {
    width: 100%;
    margin-top: 20px;
  }


  .container-13 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width:100%;
    background: #000;
   margin-bottom: 20px; 
  }

  .container-13 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.item {
    width: 100%;
    max-width: 400px;
}

.img-3 {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .item {
        flex: 1 1 calc(33.33% - 40px);
        max-width: 30%;
        min-width: 250px;
    }
}


  .feature {
    width: 100%;
    height: 4%;
    margin-top: 20px;
  }

  @media screen and (min-width: 740px) {
    .feature {
     width: 40%;
     height: 150px;
     height: 5.5%;
    }
}

@media screen and (min-width: 740px) {
    .feature-11{
     width: 50%;
    }
}


  .feature-1 {
    width: 100%;
    display: flex;
   justify-content: center;
  }

  .heading-3 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.para-4 {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.para-4 span {
    color: #FF671F;
}


.detail-4 {
    width:98%;
    height:4%;
   margin-top: 40px;
   padding-top: 20px;
   justify-content: center;
   margin-left: 15px;
}

@media screen and (min-width: 740px) {
    .detail-4 {
     width: 40%;
    }
}

.detail-41 {
    width: 95%;
    display: flex;
    background-color: #F96D03;
    height: 60px;
   align-items: center;
  justify-content: center;
   border-radius: 20px;
    margin-left: 3px;
    margin-top: 10px;
}


.detail-41{
    color: #FFFFFF;
    font-size: 18px;
}

.detail-42 {
    margin-top: 20px;
    display: flex;
    gap: 5px;
}

.detail-43 p {
    font-size: 18px;
}

.abc {
    color: #FF671F;
}


.tooltip {
    position: relative;
    display: inline-block;
    
  }

  .tooltip a 
  {
    color: #FF671F ;
  }

  .tooltip-text {
    width: 100%;
    visibility: hidden;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }


  .faq-item {
  background-color: #ff6600;
  color: #fff;
  padding: 15px 20px;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
  position: relative;
  width: 100%;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.arrow {
  font-size: 20px;
  transition: transform 0.3s ease;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}

.faq-12 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


}

.Faq-1 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 98%;
    height: 5%;
}

.inform2 {
  width: 100%;
  margin-top: 20px;
}

@media screen and (min-width: 740px) {
    .faq-item {
     width: 50%;
     display: flex;
     flex-direction: column;
    }

    .Faq-1 h2  {
      width: 55%;
      text-align: center;
  
    }
}

.Faq-1 h2 {
  font-size: 20px;
  color: #A6A6A6;
  align-items: start;
  margin-bottom: 15px; 
}

.copyright {
    width: 100%;
    font-size: 16px;
    margin-top: 50px;
    height: 1%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 150px;
}


.footer {
    height: 150px;
    border: 1px solid #D2D3D3;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FFFFFF;
    padding-left: 20px;
   
}

.detail-42 {
    display: flex;
 justify-content: center;
}


.footer-1 {
width: 100%;
height: 20px;

}